/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 23 abr 2026, 1:13:16
    Author     : eduar
*/

/* CONTENEDOR GENERAL */
.acerca-container {
    display: flex;
    gap: 30px;
    width: 85%;
    margin: 40px auto;
}

/* VIDEO */
.video-box {
    flex: 1;
    text-align: center;
}

.video-box h2 {
    color: #e75480;
    margin-bottom: 15px;
}

.video-box video {
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px gray;
}

/* INFORMACIÓN */
.info-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* TARJETAS */
.card {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px gray;
}

.card h3 {
    color: #e75480;
    margin-bottom: 10px;
}

/* SUCURSALES */
.sucursal {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.sucursal img {
    width: 80px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}