/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 21 abr 2026, 22:52:25
    Author     : eduar
*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e75480;
    z-index: 1000;
}


.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e75480;
    padding: 5px 5px;
    width: 100%;
    margin: 0;
    border-radius: 0;
}

.logo-titulo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 60px;
}

.texto h1 {
    margin: 0;
    color: white;
    text-shadow: 2px 2px 4px gray;
    font-family: "Satisfy", serif;
    font-size: 36px;
}

.texto p {
    margin: 0;
    color: white;
    font-family: "poppins", cursive;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffd1dc;
}

.btn-login {
    color: white;
    border: 2px solid white;
    padding: 6px 12px;
    border-radius: 20px;
    text-decoration: none;
    margin-left: 10px;
}

.btn-registro {
    background-color: white;
    color: #e75480;
    padding: 6px 12px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
}

.btn-login:hover {
    background-color: white;
    color: #e75480;
}

.btn-registro:hover {
    background-color: #ffd1dc;
}