/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 21 abr 2026, 22:56:35
    Author     : eduar
*/

.registro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.registro-form {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0px 4px 10px gray;
    text-align: center;
}

/* TÍTULO */
.registro-form h2 {
    margin-bottom: 20px;
    color: #e75480;
}

/* INPUTS Y SELECT */
.registro-form input,
.registro-form select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* FECHA EN FILA */
.fecha {
    display: flex;
    gap: 10px;
}

.fecha select {
    flex: 1;
}

/* GÉNERO */
.genero {
    margin-top: 10px;
}

/* BOTÓN */
.registro-form button {
    width: 100%;
    padding: 10px;
    background-color: #e75480;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}

/* HOVER */
.registro-form button:hover {
    background-color: #ffd1dc;
    color: #e75480;
}